-----BEGIN CERTIFICATE-----MIIDazCCAlOgAwIBAgIUJk8X4z9YqGYBL2KvZ3eFwjPnRkAwDQYJKoZIhvcNAQELBQAwRTELMAkGA1UEBhMCQ0gxEzARBgNVBAgMClN3aXR6ZXJsYW5kMQ0wCwYDVQQHDARCZXJuMRIwEAYDVQQKDAlMYWIgVGVzdHMwHhcNMjQwMTAxMDAwMDAwWhcNMjUwMTAxMDAwMDAwWjBFMQswCQYDVQQGEwJDSDETMBEGA1UECAwKU3dpdHplcmxhbmQxDTALBgNVBAcMBEJlcm4xEjAQBgNVBAoMCUxhYiBUZXN0czCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAL3PnD2A==-----END CERTIFICATE-----